.contact-box {
  position: relative;
  @include pageBackground('../assets/img/contact-background.jpg');

  &_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    @include card;
    animation: fadeIn ease-in .5s;

    @include respond(phone) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-start;
      width: 40rem;
      height: 40rem;
    }
  }

  &_img {
    display: flex;
    justify-content: center;

    img {
      border-radius: .25rem;
      border: .5rem solid rgba($color-grey-dark, .2);
      display: block;
      width: 15rem;

      @include respond(phone) {
        width: 10rem;
        height: 13rem;
      }
    }
  }

  &_title {
    text-align: center;
    font-size: 3rem;

  }

  &_content {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }

  &_icon {
    margin-right: 2rem;
    font-size: 3rem;
  }
}