// auth form
.auth-box {
  @include backgroundImg('../assets/img/auth-background-3.jpg',
    $color-grey-light-1,
    $color-grey-dark );
  position: relative;
  width: 95vw;
  height: 95vh;
  justify-content: center;
  border-radius: 0 30% 0 30%;

  &_form {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    height: 40rem;
    width: 40rem;
    color: $color-grey-light-2;
    letter-spacing: .25rem;
    backdrop-filter: blur(3px);
    /* 添加模糊效果 */
    padding: 4rem;
    @include card;


    &-title {
      font-size: 3rem;
      text-align: center;
    }

    &-btn {
      margin-top: 2.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;


      a:link,
      a:visited {
        color: $color-grey-light-2;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        transition: all .2s;
      }

      a:hover {
        transform: translateY(-3px);
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      a:active,
      a:focus {
        transform: translateY(1px);
      }

      button {
        color: $color-grey-light-2;
        font-size: 2rem;
        padding: 1rem 2rem;
        background: rgba($color-tertiary-light , .3);
      }
    }
  }
}

.input-box {
  position: relative;

  label {
    font-size: 2rem;
    display: block;
    width: 100%;
  }

  input {
    height: 3.5rem;
    width: 97%;
    border-radius: .5rem;
    color: $color-grey-light-1;
    font-weight: 600;
    outline: none;
    border: 2px solid $color-grey-dark-2;
    background-color: transparent;
    font-size: 2rem;
    padding-left: 1rem;
    transition: all .3s ease;
    /* 添加过渡效果 */
    @include input-focus-animation(1.1, 50%);
  }

  .input-box_icon {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    right: 2.5%;
    transition: all .3s ease;
    /* 添加过渡效果 */
    cursor: pointer;
  }
}

.other-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include aLink($color-grey-light-1,$color-secondary-light);

  &_word{
    font-size: 1.5rem;
    font-weight: 600;
  }

  &_icon{
    cursor: pointer;
    font-size: 2.5rem;
    margin: 0 1rem;
  }
}