.mainNavigation-box {
  z-index: 100;
  position: fixed;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0 ;
  box-shadow: .0 .5rem 2rem rgba(0, 0, 0, .35);
  backdrop-filter: blur(5px);
}

.navigation-box {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 60%;

  &_path {
    width: 60%;
    display: flex;
    justify-content: space-around;
    @include aLink($color-grey-light-1, $color-grey-dark-2)
  }

  &_tool {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    &_icon {
      margin-left: 1rem;
      font-size: 3rem;
      transition: all .3s;
      cursor: pointer;
      color: $color-grey-light-1;

      &:hover {
        color: $color-grey-light-1;
        transform: scale(1.1);
      }
    }
  }
}

.logo-box {
  margin-left: 2.5rem;
  position: sticky;

  &_icon {
    color: $color-grey-dark;
    font-size: 5rem;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      transform: scale(1.2);
    }
  }
}

// 下拉選單

.dropdown {
  position: relative;

}

/* 隐藏下拉菜单内容 */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 8%;
  background-color: #ffffff68;
  backdrop-filter: blur(15px);
  min-width: 8rem;
  height: 9rem;
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* 显示下拉菜单内容 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 下拉菜单链接样式 */
.dropdown-content {
  color: black;

  button {
    border: none;
    background-color: transparent;
    width: 8rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
  }
}

/* 鼠标悬停时下拉菜单链接样式 */
.dropdown-content button:hover {
  background-color: transparent;
  color: $color-grey-light-1;
  padding: .5rem 0;
  box-shadow: .0 .5rem 2rem rgba(0, 0, 0, .35);
  transition: all .3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: .0 .5rem 2rem rgba($color-grey-dark-3, .35);
  }
}