// COLORS
$color-primary: #748ffc;
$color-primary-light: #1864ab;
$color-primary-dark: #28b485;

$color-secondary-light: #f4a55b;
$color-secondary-dark: #d9480f;

$color-tertiary-light: #d0ebff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #495057;
$color-grey-dark-2: #adb5bd;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-susses:#51cf66;
$color-dangers:#fa5252;